body, .card-text {font-family: 'Montserrat', sans-serif;  font-size: 20px; font-weight: 300; line-height: 24px;}
h1, h2, h3, h4, h5 {font-family: 'Bebas Neue Pro', cursive;}
h1, .card-title {font-size: 48px; font-weight: normal;}
.secTitle {
    text-align: center; 
    text-transform: uppercase; 
}
.secTitle h1 {
    margin-bottom: 20px;
    margin-top: 40px;
}
/* nav */
.customNav {
    width: 100%;
    background-size: cover;
    z-index: 10;
    background: #F6F6F6;
}
.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}
.nav-item {
    margin: 0px 15px;
}
.navbar img {
    padding-left: 16px;
}
/* hero */
section {
    margin-left: 5%;
    margin-right: 5%;
}
.jumbotron {
    background-image: url(../images/bg-img/mainBg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: calc(100vh - 25px);
    display: block;
    margin-top: 120px;
    box-shadow: -1px -2px 2px rgba(214, 214, 214, .322), 1px 2px 2px rgba(119, 119, 119, 0.322);
}
.subHead {
    font-size: 25px; 
    margin-right: 50%;
    min-width: 370px;
    max-width: 1000px;
} 
.padbottom {
    padding-bottom: 20px;
}
.padTop {
    padding-top: 20px;
}
.borTop {
    border-top: 1px solid #C4C4C4;
}
/* card */
.card {
    margin: 0 auto;
    box-shadow: -1px -2px 2px rgba(214, 214, 214, .322), 1px 2px 2px rgba(119, 119, 119, 0.322);
}
.col-md-8 {
    display: flex;
    align-items: center;
}
.bi-caret-right {
    color: #FBC103;
    position: relative;
    left: 90%;
    cursor: pointer;
}

/* toggle */
.toggleContainer {
    padding: 1.25rem;
    display: block;
    background: #F6F6F6;
}
.toggleFlex {
    display: flex;
    flex-flow: row wrap;
}
.problem, .solution {
    margin-bottom: 20px;
    padding: 16px
}
.toogle-link {
    text-align: center;
}
#headingOne{
    background-color: white;
}
.accordion {
    margin-top: 50px;
}

/* footer */
footer {
    background: #F6F6F6;
    padding: 20px;
    margin-top: 20px;
}
.copywrite {
    text-align: center;
}
footer img {
    margin-right: 15px;
}
footer p {
    margin-bottom: 0;
}
/* Preloader*/
.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    background-color: rgb(248, 248, 248);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  svg {
    width: 20%;
  }
  .st0 {
    fill: #FBC103;
  }
  .st1 {
    fill: none;
    stroke: #FBC103;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
  .st2 {
    fill: none;
    opacity: .5;
    stroke: #FBC103;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
  #one {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation: line-glow 1s .5s ;
    animation: line-glow 1s .5s ;
  }
  #two {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation: line-glow 1s .5s; 
    animation: line-glow 1s .5s ;
  }
  #three {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation: line-glow 1s .6s ;
    animation: line-glow 1s .6s ;
  }
  #four {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation: line-glow 1s .7s ;
    animation: line-glow 1s .7s ;
  }
  #five {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation: line-glow 1s .8s ;
    animation: line-glow 1s .8s ;
  }
  #six {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation: line-glow 1s .9s ;
    animation: line-glow 1s .9s ;
  }
  #seven {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation: line-glow 1s 1s ;
    animation: line-glow 1s 1s ;
  }
  #bulb-body-fill {
    -webkit-animation: bulb-on 4s ease ;
    animation: bulb-on 4s ease ;
  }
  @-webkit-keyframes line-glow {
    10% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      opacity: 1;
    }
  }
  @keyframes line-glow {
    10% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      opacity: 1;
    }
  }
  @-webkit-keyframes bulb-on {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes bulb-on {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
