body, .card-text {font-family: 'Montserrat', sans-serif;  font-size: 20px; font-weight: 300; line-height: 24px;}
h1, h2, h3, h4, h5, h6 {font-family: 'Bebas Neue Pro', cursive;}
h1, .card-title {
    font-size: 48px; 
    font-weight: normal;
}
.secTitle {
    text-align: center; 
    text-transform: uppercase;
}
.secTitle h1 {
    margin-bottom: 20px;
    margin-top: 40px;
}
/* nav */
.customNav {
    width: 100%;
    background-size: cover;
    z-index: 10;
    background: #F6F6F6;
}
.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}
.nav-item {
    margin: 0px 15px;
}
.navbar img {
    padding-left: 16px;
}
.active {
    border: 2px solid #FBC103;
    border-radius: 10px;
}
/* hero */
section {
    margin-left: 5%;
    margin-right: 5%;
}
.jumbotron {
    background-image: url(../images/bg-img/redBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: calc(100vh - 25px);
    display: block;
    box-shadow: -1px -2px 2px rgba(214, 214, 214, .322), 1px 2px 2px rgba(119, 119, 119, 0.322);
}
.subHead {
    font-size: 25px; 
    margin-right: 50%;
    min-width: 370px;
    max-width: 1000px;
} 
.padbottom {
    padding-bottom: 20px;
}
.padTop {
    padding-top: 20px;
}
.borTop {
    border-top: 1px solid #C4C4C4;
}
/* card */
.card {
    margin: 0 auto;
    box-shadow: -1px -2px 2px rgba(214, 214, 214, .322), 1px 2px 2px rgba(119, 119, 119, 0.322);
    margin-bottom: 20px;
}
.col-md-8 {
    display: flex;
    align-items: center;
}
.bi-caret-right {
    float: right;
    color: #FBC103;
}
/* toggle */
.toggleContainer {
    padding: 1.25rem;
    display: block;
    background: #F6F6F6;
}
.toggleFlex {
    display: flex;
}
.problem, .solution {
    margin-bottom: 20px;
    padding: 16px
}
.toogle-link {
    text-align: center;
}
/* footer */
footer {
    background: #F6F6F6;
    padding: 20px;
    margin-top: 20px;
}
.copywrite {
    text-align: center;
}
footer img {
    margin-right: 15px;
}
footer p {
    margin-bottom: 0;
}
.col-md-8 {
    display: flex;
    align-items: center;
}