body, .card-text {font-family: 'Montserrat', sans-serif;  font-size: 20px; font-weight: 300; line-height: 24px;}
h1, h2, h3, h4, h5, h6 {font-family: 'Bebas Neue Pro', cursive;}
h1, .card-title {
    font-size: 48px; 
    font-weight: normal;
}
.secTitle {
    text-align: center; 
    text-transform: uppercase;
}
.secTitle h1 {
    margin-bottom: 20px;
    margin-top: 40px;
}
/* nav */
.customNav {
    width: 100%;
    background-size: cover;
    z-index: 10;
    background: #F6F6F6;
}
.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}
.nav-item {
    margin: 0px 15px;
}
.navbar img {
    padding-left: 16px;
}
.dropdown {
    border: 2px solid #FBC103;
    border-radius: 10px;
}
/* hero */
section {
    margin-left: 5%;
    margin-right: 5%;
}
.jumbotron {
    background-image: url(../images/bg-img/redBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: calc(100vh - 25px);
    display: block;
    margin-top: 125px;
    box-shadow: -1px -2px 2px rgba(214, 214, 214, .322), 1px 2px 2px rgba(119, 119, 119, 0.322);
}
.subHead {
    font-size: 25px; 
    margin-right: 50%;
    min-width: 370px;
    max-width: 1000px;
} 
.padbottom {
    padding-bottom: 20px;
}
.padTop {
    padding-top: 20px;
}
.borTop {
    border-top: 1px solid #C4C4C4;
}
/* card */
.card {
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: -1px -2px 2px rgba(214, 214, 214, .322), 1px 2px 2px rgba(119, 119, 119, 0.322);
}
.col-md-8 {
    display: flex;
    align-items: center;
}
/* toggle */
.toggleContainer {
    padding: 1.25rem;
    display: block;
    background: #F6F6F6;
}
.toggleFlex {
    display: flex;
    flex-flow: row wrap;
}
.problem, .solution {
    margin-bottom: 20px;
    padding: 16px
}
.toogle-link {
    text-align: center;
}
/* dailyui*/
.card-img-top {
    object-fit: cover;
}
.ui {
    cursor: pointer;
}
.ui:hover {
    box-shadow: -2px -4px 4px rgba(214, 214, 214, 0.473), 2px 4px 4px rgba(107, 105, 105, 0.541);
}
/* logo */
.container{
    padding: 75px 0;
    margin: 0 auto;
  }
  .gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
  }
.item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
}
    .item:hover{
      flex: 50;
    }
.social{
    position: absolute;
    right: 35px;
    bottom: 0;
  }
.item-01 { 
    background-image: url(../images/logo/bbiLogo-greybg.png);
  }
  .item-02 { 
    background-image: url(../images/logo/salon.png);
  }
  .item-03 { 
    background-image: url(../images/logo/salon2.png);
  }
  .item-04 { 
    background-image: url(../images/logo/dentist1.png);
  }
  .item-05 { 
    background-image: url(../images/logo/dentist2.png);
  }

/* footer */
footer {
    background: #F6F6F6;
    padding: 20px;
    margin-top: 20px;
}
.copywrite {
    text-align: center;
}
footer img {
    margin-right: 15px;
}
footer p {
    margin-bottom: 0;
}
.col-md-8 {
    display: flex;
    align-items: center;
}